@font-face {
    font-family: "ubuntu-rg";
    src: url(./../font/Ubuntu-R.ttf);
}

@font-face {
    font-family: "ubuntu-bd";
    src: url(./../font/Ubuntu-B.ttf);
}

@font-face {
    font-family: "monoton";
    src: url(./../font/Monoton-Regular.ttf);
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--text-font-family);
    text-transform: uppercase;
}


img
{
    display: block;
    max-width: 100%;
}

:root
{
    --bg-color-body: #070707;
    --logo-font-fam: "monoton";
    --nav-icon-color: #F1F1F1;
    --text-color: #6F6864;
    --arrow-border-color: #B0805D;
    --shop-link-color: #B0805D;
    --arrow-color: #727577;
    --text-font-family: "ubuntu-rg";
    --headline-font-family: "ubuntu-bd" 
}

/* ############### HERO SECTION ################## */

body
{
    background-color: var(--bg-color-body);
}

/* ---- NAV BAR ----- */

.nav_bar_wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6F6864;
    padding: 5px 72px;
}

.nav_bar
{
    display: flex;
    gap: 38px;
}

.login_tag
{
    align-self: center;
}

.logo
{
    font-family: "monoton";
    font-size: 2.375rem;
}

.nav_list
{
    display: flex;
    gap: 118px;
    padding-left: 100px;
    padding-right: 62px;
}

.nav_list a:nth-of-type(1)
{
    color: var(--nav-icon-color);
}

/* ############# HEADER BODY ############### */

main
{
    position: relative;
    height: 125vh;
}

.headline
{
    position: absolute;
    left: 15%;
    top: 40%;
}

.headline h1
{
    color: var(--nav-icon-color);
    font-family: var(--headline-font-family);
    font-size: 4rem;
    width: 388px;
    margin-bottom: 80px;
}

.headline a
{
    color: var(--shop-link-color);
}


/* ######### EXAMPLE IMAGES ########### */

.example_images
{
    position: absolute;
    left: 48%;
    bottom: 12%;
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    /* grid-row:inherit; */
    column-gap: 24px;

}

/* 
.example_images img
{
    height: 550px; 
} */

/* ############# BOTTOM BAR ############# */

.second_bar_wrapper
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-inline: 80px;
    padding-bottom: 40px;
}

.second_bar_wrapper div img
{
    height: 20px;
    width: 20px;
}

.social_media_icons
{
    display: flex;
    gap: 24px;
}

.arrows
{
    display: flex;
    gap: 48px;
}

.arrows a
{
    border: 1px solid #B0805D;
    padding: 12px 18px;
    border-radius: 40px;
}


